.navbar-nav {
    margin: 0 10px 0 auto;
    /* ml-auto class makes the text-align right auto */
    /* text-align: right; */
}

#navbar-menu-noauth{
    display: none;
}

#main-container {
    margin-top: 80px;
    display: none;
}

#welcome-container {
    margin-top: 80px;
    /* display: none; */
}