.navbar-nav {
    margin: 0 10px 0 auto;
    /* ml-auto class makes the text-align right auto */
    /* text-align: right; */
}

#navbar-menu-noauth {
    display: none;
}

header {
    margin-top: 80px;
}

#main-container {
    margin-top: 20px;
    display: none;
}

#welcome-container {
    margin-top: 80px;
    display: none;
}

.carousel-control-prev-icon {
    background-color: #40343B;
}

.carousel-control-next-icon {
    background-color: #40343B;
}

.carousel-control-prev {
    width: 1%;
}

.carousel-control-next {
    width: 1%;
}

.carousel-indicators {
    margin-top: 525px;
}

hr {
    background-color: #9A9DA0;
}

.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.important-button {
    color: #1A8994;
}

.important-button:hover {
    color: #ffffff;
}